{
  "rules": {
    "semi": "true",
    "trailingComma":  "all",
    "singleQuote":  "true",
    "printWidth":  "120",
    "tabWidth":  "4",
    "no-trailing-spaces": "off",
    "no-eq-null": "off"
  },
  "extends": [
    "oclif",
    "oclif-typescript"
  ]
}
